<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="DB_ServiceConnectionString" connectionString="Data Source=EUGENIUSZPC;Initial Catalog=DB_Service;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2097151"
                 useFullyQualifiedRedirectUrl="true"
                 executionTimeout="14400"   />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Server.WSBinding" maxBufferPoolSize="104857600"
          maxReceivedMessageSize="104857600">
          <readerQuotas maxDepth="104857600" maxStringContentLength="104857600"
            maxArrayLength="104857600" maxBytesPerRead="104857600" maxNameTableCharCount="104857600" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Server.WSBehavior" name="Server.WorkService.Service">
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Server.WSBinding"
          contract="Server.WorkService.IService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WorkService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Server.WSBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="34 c1 14 7a 3f 73 5b 2b 16 93 57 ab 33 b7 d2 1b a9 a6 35 86"
              storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="Server.WorkService.CustomUserNameValidator, Server" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Server.WorkService.CustomServiceAuthorizationManager, Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
            <authorizationPolicies>
              <add policyType="Server.WorkService.CustomRoleAuthorizationPolicy, Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
